{
  "env": {
    "development": {
      "presets": [
        ["babel-preset-env", {
          "targets": {
            "node": "6.10"
          }
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }],
        "transform-decorators",
        "transform-class-properties",
        "transform-flow-strip-types"
      ]
    },
    "test": {
      "presets": [
        ["babel-preset-env", {
          "targets": {
            "node": "6.10"
          }
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }],
        "transform-decorators",
        "transform-class-properties",
        "transform-flow-strip-types"
      ]
    },
    "browser": {
      "presets": [
        ["babel-preset-env", {
          "targets": {
            "browsers": "last 3 versions, > 1%"
          },
          "loose": true
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }],
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-proto-to-assign",
        "transform-flow-strip-types"
      ]
    },
    "module": {
      "presets": [
        ["babel-preset-env", {
          "targets": {
            "node": "6.10"
          },
          "modules": false
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }],
        "transform-decorators",
        "transform-class-properties",
        "transform-flow-strip-types"
      ]
    }
  },
  "sourceMaps": true
}