{
  "presets": [
    ["es2015", { "loose": true }],
    "stage-0",
    "react",
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-proto-to-assign",
  ]
}
