language: node_js
node_js:
    - "5"
    - "6"
    - "7"
script: npm test
notifications:
    email:
        recipients:
            - zlatkofedor@cherryprojects.com
        on_success: change
        on_failure: always

after_script:
 - ./node_modules/.bin/babel-node ./node_modules/.bin/gulp coveralls
